<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc App</title>
</head>
<body>
    <h1>Calc App</h1>
    <p>Hello guys!</p>
    <p>Welcome to my calc application on the Flask.</p>
    <p>You can: add, subtract, multiply and divide two numbers.</p>
    <p><b>Let's go!</b></p>
    <p>FOR EXAMPLE:</p>
    <ul>
        <li><a href="/calc/5/2/sum">/calc/5/2/sum</a></li>
        <li><a href="/calc/5/2/dif">/calc/5/2/dif</a></li>
        <li><a href="/calc/5/2/mult">/calc/5/2/mult</a></li>
        <li><a href="/calc/5/2/div">/calc/5/2/div</a></li>
    </ul>
</body>
</html>